page-alumno {
    .fondo{
        background-image: url("../assets/img/fondo1.jpg");
        background-size: 100%;
        background-position-y: 50%;

        body {
            margin:auto;}
    }
}