<ion-header>

  <ion-navbar>
    <ion-title>respuestaEncuestaHome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondo">
  <ion-card>
    <ion-card-header>
      <ion-label style="color : rgb(37, 16, 16)">{{encuesta.nombreEncuesta}}</ion-label>
    </ion-card-header>

    <ion-card-content *ngFor="let p of encuesta.preguntas">

      <ion-item>
        <ion-label style="color : rgb(235, 22, 22)">{{p.texto}}</ion-label>
      </ion-item>

      <!-- Aque estan las opciones de respuesta -->

      <ion-item *ngIf="p.tipoRespuesta == 'OPINION'">
        <ion-input [(ngModel)]="p.opinionValue" placeholder="Ingrese la respuesta"></ion-input>
      </ion-item>     

      <ion-list *ngIf="p.tipoRespuesta == 'UNASOLARESPUESTA'" radio-group [(ngModel)]="p.opcionValue">
        <ion-item *ngFor="let op of p.opciones ; let i = index">
          <ion-label style="color : rgb(85, 158, 218)">{{op}}</ion-label>
          <ion-radio style="color : rgb(233, 67, 67)" value="{{i}}" ></ion-radio>
        </ion-item>
      </ion-list>
      
      <ion-list *ngIf="p.tipoRespuesta == 'OPCIONES'">
        <ion-item *ngFor="let op of p.opciones ; let i = index">
          <ion-label style="color : rgb(85, 158, 218)">{{op}}</ion-label>
          <ion-checkbox (ionChange)="ngModelChange(p,$event.checked,i)" value="op"></ion-checkbox>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

  <button ion-button style="float:right;" class="btnEnv" round (click)="enviarRespuesta()">Enviar</button>

</ion-content>