page-encuesta-enviar {
    .btnEnv{
        background-color: rgb(78, 240, 191);
    }
    .fondo{
        background-image: url("../assets/img/fondo1.jpg");
        background-size: 100%;
        background-position-y: 50%;
}
}