<ion-header>
    <ion-navbar  color='favorite'>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding align="center" class="fondo">
  <button ion-button (click)="presentModal()" class="button1 button" *ngIf="btnAsistencia"><p>Tomar Asistencia</p></button>


  <button ion-button (click)="verEncuestas()" class="boton" *ngIf="btnEncuestasPendientes">Encuestas</button>
  
  

</ion-content>
