<ion-content padding class="fondo">
    <ion-fab top right bottom>
    <button ion-fab color="primary" (click)="presentModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
<br><br><br>
<b><h4 style="text-align: center;">Listas</h4></b>

<div padding>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="puppies">
      Administrativos
    </ion-segment-button>
    <ion-segment-button value="kittens">
      Profesores
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'puppies'">
   
<ion-item *ngFor="let boca of itemsAdm | async; let i = index" style=" text-align: left">
<button  style="color: black" ion-button item-start clear icon-only (click)="delete(boca)">
<ion-icon  style="width:50px"  name="trash"></ion-icon>
</button>
<button  style="color: black" ion-button item-start clear icon-only (click)="modify(boca)">
<ion-icon style="width:50px"  name="create" ></ion-icon>
</button>
<h2 style="color: black">{{boca.nombre}}</h2>
<p style="color: black"> {{boca.apellido}}</p>
<ion-thumbnail item-end style="margin:12px 0px 0px" >
    <img style="width: 50px;height:50px;"  src="assets/icono.jpg">
    </ion-thumbnail>

    
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'kittens'">
    
<ion-item *ngFor="let boca of itemsProf | async; let i = index" style=" text-align: left">
  <button  style="color: black" ion-button item-start  clear icon-only (click)="deleteProf(boca)">
    <ion-icon style="width:50px"  name="trash"></ion-icon>
  </button>
   <button  style="color: black" ion-button  item-start clear icon-only (click)="modifyProf(boca)">
    <ion-icon  style="width:50px"  name="create" ></ion-icon>
  </button>
<h2 style="color: black">{{boca.nombre}}</h2>
<p style="color: black"> {{boca.apellido}}</p>

<ion-thumbnail item-end style="margin:12px 0px 0px" >
  <img style="width: 50px;height:50px;"  src="assets/icono.jpg">
  </ion-thumbnail>

    
    </ion-item>
  </ion-list>
</div>



</ion-content>