<ion-header>
  <ion-navbar  color='favorite'>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-title>QR</ion-title>
</ion-navbar>
</ion-header>
<ion-content padding class="fondo">
  <!-- <ion-item>
    <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
    </ion-input>
  </ion-item> -->
  <!-- <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button> -->
  <button ion-button full icon-left (click)="scanCode()" color="primary"><ion-icon name="qr-scanner"></ion-icon>Escanear Código</button>
 
 <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <!-- <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>-->
  </ion-card> 
 
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>