<ion-header>

  <ion-navbar>
    <ion-title>Encuestas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button (click)="generarEncuesta()">
    <ion-icon name="clipboard"></ion-icon> Nueva Encuesta</button>

  <div *ngFor="let e of encuestas | async; let i = index">
    <ion-card>
      <ion-card-header (click)="e.isOpen = !e.isOpen">
        <ion-icon name="trash" style="float:right;" (click)="eliminarEncuesta(e)"></ion-icon>
        <button ion-button *ngIf="!e.enviada" style="float:right;" class="btnEnv btnChico" (click)="enviarEncuesta(e)">
          <ion-icon name="send"></ion-icon>
        </button>

        <div style="color : rgb(26, 18, 92)">{{e.nombreEncuesta}}</div>
      </ion-card-header>

      <ion-card-content [hidden]="e.isOpen">
        <div *ngFor="let pregunta of e.preguntas; let i = index">
          <ion-item>
            <ion-label style="color : rgb(85, 158, 218)">*{{pregunta.texto}}</ion-label>
          </ion-item>
        </div>

      </ion-card-content>

    </ion-card>

  </div>



</ion-content>