page-respuesta-encuesta-detalle {
    .fondo{
        background-image: url("../assets/img/fondo1.jpg");
        background-size: 100%;
        background-position-y: 50%;

        body {
            margin:auto;}
    }
    .button {
        background-color: #C71585; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    .button1 {
        background-color: 	#48D1CC; 
        color: black;
        border: 2px solid #008CBA;
    }
    
    .button1:hover {
        background-color: #8B008B;
        color: white;
    }

    .center {
        text-align: center;
       
    }
}
