<ion-header>

    <ion-navbar  color='favorite'>
    <ion-title>respuestaEncuestaDetalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondo">

  <button class="button button1" (click)="estadistica()">Estadisticas</button>

  <div *ngFor="let pRes of preguntaRespuestas ; let i= index">
    <ion-card>
      <ion-card-header>
        <p style="color : rgb(85, 158, 218)">{{pRes.pregunta.texto}}</p>
      </ion-card-header>
      <ion-card-content>
       
        <div style="display: block" *ngIf="pRes.pregunta.tipoRespuesta != 'OPINION'">
          <canvas baseChart [data]="pRes.pregunta.chartData" [labels]="pRes.pregunta.chartLabels" [chartType]="chartType"></canvas>
        </div>

        <div *ngIf="pRes.pregunta.tipoRespuesta == 'OPINION'">
          <div *ngFor="let op of pRes.pregunta.opiniones">
            <p>{{op}}</p>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>