page-encuesta {
.fondo{
    background-image: url("../assets/img/fondo1.jpg");
    background-size: 100%;
    background-position-y: 50%;

    

}

/*.btnEnv{
    background-color: rgb(78, 240, 191);
}*/


}
