<ion-header>
  <ion-navbar>
    <ion-title>Encuesta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">

  <ion-fab top right edge>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="agregarPregunta()">
        <ion-icon name="md-help"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!-- AGREGO EL NOMBRE DE LA ENCUESTA -->
  <ion-card>
    <ion-card-header>
      Nombre de la Encuesta
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="nombre" type="text" [(ngModel)]="encuesta.nombreEncuesta"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- AGREGO LOS CAMPOS DE LA PREGUNTA -->
  <div *ngFor="let pregunta of encuesta.preguntas; let i = index">    
    <ion-card>
      <ion-card-header>
          <ion-icon name="trash" style="float:right;" (click)="eliminarPregunta(pregunta)"></ion-icon>
          Pregunta {{i+1}}
          <ion-item>
              <ion-input placeholder="Ingrese la pregunta" type="text" [(ngModel)]="pregunta.texto"></ion-input>
            </ion-item>
      </ion-card-header>
      <ion-card-content>       

        <br> Tipo de respuesta:

        <ion-list radio-group [(ngModel)]="pregunta.tipoRespuesta" >

          <ion-item class="xxx">
            <ion-label>Opinion</ion-label>
            <ion-radio checked="true" value="OPINION"></ion-radio>
          </ion-item>

          <ion-item class="xxx">
            <ion-label>si/no</ion-label>
            <ion-radio value="SI-NO"></ion-radio>
          </ion-item>

          <ion-item class="xxx">
            <ion-label>Opciones</ion-label>
            <ion-radio value="OPCIONES"></ion-radio>
          </ion-item>

          <ion-item *ngIf="pregunta.tipoRespuesta == 'OPCIONES'" class="xxx">
            <ion-label>Mis Opciones</ion-label>
            <ion-select [(ngModel)]="pregunta.cantidadOpciones" (ngModelChange)="generarItemsOpciones(pregunta)">
              <ion-option *ngFor="let op of opcionesSelect">{{op.valor}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="pregunta.tipoRespuesta == 'OPCIONES'" class="xxx">
            <ion-item *ngFor="let itemOp of pregunta.opciones; let i = index; trackBy:trackByIndex">
              <ion-label class="xxx">{{i+1}}-</ion-label> 
              <ion-input class="xxx" type="text" [(ngModel)]="pregunta.opciones[i]"></ion-input>
            </ion-item>
          </ion-item>

        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>


  <button ion-button style="float:right;" (click)="guardarEncuesta()" round>Guardar</button>
</ion-content>