page-asistencia-modal {
    .btnEnv{
        background-color: rgb(78, 240, 191);
    }
    .fondo{
        background-image: url("../assets/img/fondo1.jpg");
        background-size: 100%;
        background-position-y: 50%;

        body {
            margin:auto;}
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    div.avatar {
        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 150px;
        width: 150px;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
}
