page-asistencia-modal {
    .btnEnv{
        background-color: rgb(78, 240, 191);
    }
    .fondo{
        background-image: url("../assets/img/fondo1.jpg");
        background-size: 100%;
        background-position-y: 50%;

        body {
            margin:auto;}
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    div.avatar {
        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 50px;
        width: 50px;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }

    .ImagenGrande{
        width: 200px; height: 200px;
    }

    .ImagenMediana {
        width: 100px; height: 100px;
    }

    .ImagenPequeña{
        width: 75px;
        height: 75px;
        border: 1px  #099a9f;
        margin:5px;
        padding:5px;
      }

    .image-container {
        background-size: cover;
        min-height: 200px;
    }

    .img-selected
    {
    border: 1px  #099a9f;
    margin:5px;
    padding:5px;
    }
}
