<ion-header>
  <ion-navbar color='favorite'> 
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-buttons start>
      <button ion-button icon-only (click)="elegirArchivos()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      CSV Data
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="elegirModo()">
          <ion-icon name="download"></ion-icon>
        </button>
        <button ion-button icon-only (click)="guardarLista()">
          <ion-icon name="cloud-upload"></ion-icon>
        </button>
    </ion-buttons >
  </ion-navbar>
</ion-header>
 
<ion-content padding class="fondo">  

      <ion-card *ngIf="archivo == null">
          <ion-card-header>
              <div style="color : rgb(26, 18, 92); text-align: center;">Inicio</div>
          </ion-card-header>
          <ion-card-content >
              Presiona el botón + para elegir un archivo
              <br>
              <br>
              <br>
              <br>

          </ion-card-content>
        </ion-card>
  <ion-scroll scrollX="true" scrollY="true" class="data-scroll">
    <table border="1" class="data-table" style="overflow-x:auto;">
    
      <th *ngIf="archivo != null">Legajo</th>
      <th *ngIf="archivo != null">Nombre y apellido</th>
      <th *ngIf="archivo != null">Horario</th>
      <tr *ngFor="let row of csvData; let i = index">
          <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
            <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
          </td>
        </tr>
    </table>
  </ion-scroll>
</ion-content>